.carrousel {
    width: 100%;
    overflow: inherit;
    padding: 30px;
    margin-top: -20px;
    position: relative;
  }
  
  .carrousel__container {
    margin: 70px 0px;
    padding-bottom: 5px;
    /*
    display: flex;
    align-items: center;*/
  }
  
  .carrousel__container:hover .carrousel-item {
    opacity: 0.3;
  }
  
  .carrousel__container:hover .carrousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
  }
  