@media only screen and (max-width: 600px) {

    .main {
        height: 180px;
        align-items: center;
      }
    
      .main__title {
        color: white;
        font-size: 30px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 35px;
      }
    
      .login__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
      }
    
      .login__container h2 {
        padding-left: 10px;
      }
    
      .login__container--remember-me a {
        padding-right: 10px;
      }
    
      .login__container--form button {
        margin-right: 10px;
        margin-left: 10px;
      }
    
      .login__container--social-media > div {
        justify-content: center;
      }
    
      .footer {
        background-color: #2c3e50;
        font-family: "Muli", sans-serif;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 5px;
        padding-left: 20px;
        padding-bottom: 5px;
        justify-content: space-around;
        font-size: 14px;
      }
    
      .footer-inicio {
        background-color: #2c3e50;
        font-family: "Muli", sans-serif;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 5px;
        padding-left: 20px;
        padding-bottom: 5px;
        justify-content: space-around;
        font-size: 14px;
      }
    /*  Media queries para distintas pantallas   */
}