@charset "UTF-8";
@import './Vars.scss';
@import './Media.scss';

body {
    margin: 0;
    font-family: $theme-font;
    background: $main-color;
    color: whitesmoke;
}

* {
    box-sizing: border-box;
}